<div class="container-fluid" id="text-background">
<h1>This is information about the house</h1>
<a href="https://www.google.com/maps/place/4515+21st+Ave+NE,+Seattle,+WA+98105/@47.661782,-122.30799,17z/data=!3m1!4b1!4m2!3m1!1s0x549014895ce66ab9:0xabe11bd7559f64c4"><img id="googmap" src="img/googMap.png"></a>
<img id="houseInfoPic" src="img/PikeFrontIFC.jpg"></img>
<img id="houseInfoPic" src="img/mainfloor.jpg"></img>
<img id="houseInfoPic" src="img/basketballcourt.jpg"></img>
<img id="houseInfoPic" src="img/mainroom.jpg"></img>
<img id="houseInfoPic" src="img/secondfloor.jpg"></img>
</div>