<div class="container-fluid" id="text-background">
<h1>About the House</h1>
<!-- Start WOWSlider.com BODY section -->
<div id="wowslider-container1">
<div class="ws_images"><ul>
		<li><img src="data1/images/icon.jpg" alt="Pi Kappa Alpha" title="Pi Kappa Alpha" id="wows1_0"/></li>
		<li><img src="data1/images/pikefrontifc.jpg" alt="Beta Beta Chapter House" title="Beta Beta Chapter House" id="wows1_1"/></li>
		<li><img src="data1/images/mainfloor.jpg" alt="Foyer and Trophy Room" title="Foyer and Trophy Room" id="wows1_2"/></li>
		<li><img src="data1/images/mainroom.jpg" alt="Main Room" title="Main Room" id="wows1_3"/></li>
		<li><img src="data1/images/basketballcourt.jpg" alt="Basketball Court" title="Basketball Court" id="wows1_4"/></li>
		<li><img src="data1/images/secondfloor.jpg" alt="Hallway" title="Hallway" id="wows1_5"/></li>
		<li><img src="data1/images/flag.jpg" alt="Flag" title="Flag" id="wows1_6"/></li>
		<li><a href="http://wowslider.com/vi"><img src="data1/images/googmap.png" alt="bootstrap carousel" title="Location" id="wows1_7"/></a></li>
		<li><img src="data1/images/pikefrontomegafi2.png" alt="Chapter House" title="Chapter House" id="wows1_8"/></li>
	</ul></div>
	<div class="ws_bullets"><div>
		<a href="#" title="Pi Kappa Alpha"><span><img src="data1/tooltips/icon.jpg" alt="Pi Kappa Alpha"/>1</span></a>
		<a href="#" title="Beta Beta Chapter House"><span><img src="data1/tooltips/pikefrontifc.jpg" alt="Beta Beta Chapter House"/>2</span></a>
		<a href="#" title="Foyer and Trophy Room"><span><img src="data1/tooltips/mainfloor.jpg" alt="Foyer and Trophy Room"/>3</span></a>
		<a href="#" title="Main Room"><span><img src="data1/tooltips/mainroom.jpg" alt="Main Room"/>4</span></a>
		<a href="#" title="Basketball Court"><span><img src="data1/tooltips/basketballcourt.jpg" alt="Basketball Court"/>5</span></a>
		<a href="#" title="Hallway"><span><img src="data1/tooltips/secondfloor.jpg" alt="Hallway"/>6</span></a>
		<a href="#" title="Flag"><span><img src="data1/tooltips/flag.jpg" alt="Flag"/>7</span></a>
		<a href="#" title="Location"><span><img src="data1/tooltips/googmap.png" alt="Location"/>8</span></a>
		<a href="#" title="Chapter House"><span><img src="data1/tooltips/pikefrontomegafi2.png" alt="Chapter House"/>9</span></a>
	</div></div><div class="ws_script" style="position:absolute;left:-99%"><a href="http://wowslider.net">jquery carousel</a> by WOWSlider.com v8.6</div>
<div class="ws_shadow"></div>
</div>	
<script type="text/javascript" src="engine1/wowslider.js"></script>
<script type="text/javascript" src="engine1/script.js"></script>
<!-- End WOWSlider.com BODY section -->
</div>