<form name="logForm" id="logForm" novalidate>
    <!-- Bind model "handle" to this input and make the help-block show up if too short -->
    <div class="form-group">
        <label for="handle">Handle:</label><br>
        <input id="handle" name="handle" ng-model="newUser.handle" required>
    </div>
    <!-- Bind model "email" to this input and make the help-block show up if bad format -->
    <div class="form-group">
        <label for="email">Email:</label><br>
<input type="email" id="email" name="email" ng-model="newUser.email" required>
        <!-- Show an error message if the email is not valid -->    
        <p class="help-block" ng-if="logForm.email.$error.email">Not an email!</p>
    </div>

    <!-- Bind model "password" to this input -->
    <div class="form-group">
        <label for="pw">Password:</label><br>
        <input id="pw" name="password" type="password" ng-model="newUser.password" required>
    </div>

    <!-- Submit buttons -->
    <div class="form-group">
        <button type="submit" class="btn btn-primary" ng-click="signIn(); go('/Members-Area')" ng-disabled="logForm.email.$invalid || logForm.password.$invalid">Sign-in</button>
    </div>
</form>