<div class="container">
	<div class="col-md-4" ng-repeat="member in members">
		<p id="profilePic">
			<a href=""><img src="img/profile.png" id="profilePic" height=200px width=300px></a>
		</p>
		<p><em>Name:</em> {{member.name}}
		<br><em>Position:</em> {{member.position}}
		<br><em>Hometown:</em> {{member.hometown}}
		<br><em>High School:</em> {{member.highSchool}}
		<br><em>Year:</em> {{member.grade}}
		<br><em>Major:</em> {{member.major}}
		<br><em>Have you been accepted to your major:</em> {{member.majorIOA}}
		<br><em>Pledge Class:</em> {{member.pc}}
		<br><em>Career Aspiration:</em> {{member.career}}
		<br><em>How has Pike helped you:</em> {{member.pikeHelp}}
		<br><em>LinkedIn Profile:</em> {{member.linkedIn}}
	</div>
</div>