<main class="container">
    
    <!-- Sign in form -->
    <div ng-show="!userId" ng-include="'partials/login.html'"></div>


    <!-- Tweet form -->
    <div ng-show="userId" class="tweet-box write-tweet">
        <div>
            <!-- Show image of current user -->
            <img class="image" ng-src="{{users[userId].avatar}}"></img>

            <!-- Form for writing tweets -->
            <form name="tweetForm" id="tweet-input">

                <textarea placeholder="What's Happening..." name="text" class="form-control" ng-model="newChirp" required ng-maxlength="140"></textarea>
                <p class="help-block" ng-show="tweetForm.text.$error.maxlength">140 character limit!</p>
                
                <div class="form-group send-tweet">
                    <button type="submit" class="btn btn-primary" ng-click="chirp()" ng-disabled="tweetForm.$invalid">
                        <i class="fa fa-pencil-square-o"></i> Share
                    </button>
                </div>
            </form>
        </div>
    </div> <!-- end tweet form -->


    <!-- Show everyone's tweets! -->
    <div>
        <!-- Use ng-repeat directive to repeat a div for each element in chirps -->
        <!-- order by time (in reverse chronological order) -->
        <div class="tweet-box" ng-repeat="chirp in chirps | orderBy : '-time'">
            <div>
                <!-- This is an img tag that shows the userImage of that chirp. -->
                <!-- Note we access the avatar from the users object -->
                <img class="image" ng-src="{{users[chirp.userId].avatar}}"></img>
                
                <!-- Use an expressions to show the handle and time of tweet -->
                <!-- format the time as a 'medium' -->
                <span class="handle">{{users[chirp.userId].handle}}</span>
                <span class="time">{{chirp.time | date:'medium'}}</span>
            </div>

            <!-- Use an expression to show the text of the tweet -->
            <div class="tweet">{{chirp.text}}</div>
            
            <div class="likes">                 
                <!-- Add a directive so that when the heart is clicked, it calls a function -->
                <!-- You should pass in which chirp to like when you call the function -->
                <i ng-click="like(chirp)" class="fa fa-heart"></i>
                
                <!-- Use an expression to show the number of likes -->
                <span>{{chirp.likes}}</span>
            </div>
        </div>
    </div> <!-- end shown results -->

</main>

<script src="https://cdn.firebase.com/js/client/2.3.1/firebase.js"></script>
<script src="https://cdn.firebase.com/libs/angularfire/1.1.3/angularfire.min.js"></script>