<div class="container">
	<div class="col-md-4" ng-repeat="member in members">
		<p id="profilePic">
			<a href=""><img src="img/profile.png" id="profilePic" height=200px width=300px></a>
		</p>
		<p>Name: {{member.name}}
		<br>Position: {{member.position}}
		<br>Hometown: {{member.hometown}}
		<br>High School: {{member.highSchool}}
		<br>Year: {{member.grade}}
		<br>Major: {{member.major}}
		<br>Have you been accepted to your major: {{member.majorIOA}}
		<br>Pledge Class: {{member.pc}}
		<br>Career Aspiration: {{member.career}}
		<br>How has Pike helped you: {{member.pikeHelp}}
		<br>LinkedIn Profile: {{member.linkedIn}}
	</div>
</div>