<img id="rushPikejpg" src="img/rushPike.jpg"></img>
<h1>Rush Pike</h1>

<!-- Form fields to submit first name, last name, year in school, school, phone number, email -->

<form name='rushForm' id='rushForm'>
	<div class="form-group">
		<!-- First Name -->
		<div class="form-group" ng-class="{ 'has-error': rushForm.fName.$invalid && !rushForm.fName.$pristine }">
			<label for="fName">First Name:</label><br>
			<input type="text" id="fName" name="fName" placeholder="John" required><br>
			<p ng-show="rushForm.fName.$invalid && (!rushForm.fName.$pristine || rushForm.fName.$touched)" class="help-block">First name required</p>
		</div>
		<!-- Last Name -->
		<div class="form-group" ng-class="{ 'has-error': rushForm.lastName.$invalid && !rushForm.lastName.$pristine }">
			<label for="lastName">Last Name:</label><br>
			<input type="text" id="lastName" name="lastName" placeholder="Smith" ng-model="lastName" ng-keyup="checkName()" required><br>
			<p ng-show="rushForm.lastName.$invalid && (!rushForm.lastName.$pristine || rushForm.lastName.$touched)" class="help-block">Last name required</p>
		</div>
		<!-- Year -->
		<div class="form-group" ng-class="{ 'has-error': rushForm.year.$invalid && !rushForm.year.$pristine }">
			<label for="year">Year:</label><br>
			<select name="year" id="year" ng-model="year" align='middle' required>
	            <option value="hsSenior">High School Senior</option>
	            <option value="Freshman">Freshman</option>
	            <option value="Sophomore">Sophomore</option>
	            <option value="Junior">Junior</option>
	            <option value="Senior">Senior</option>
	        </select><br>
			<p ng-show="rushForm.year.$invalid && !rushForm.year.$pristine" class="help-block">Year required</p>
		</div>
		<!-- School -->
		<div class="form-group" ng-class="{ 'has-error': rushForm.school.$invalid && !rushForm.school.$pristine }">
			<label for="school">School Name:</label><br>
			<input type="school" id="school" name="school" placeholder="High School/University Name" ng-model="school" required><br>
			<p ng-show="rushForm.school.$invalid && !rushForm.school.$pristine" class="help-block">School name required</p>
		</div>
		<!-- Phone Number -->
		<div class="form-group">
			<label class="box"for="phone">Phone Number:</label><br>
			<input type="tel" id="phone" name="phone" placeholder="123-456-7890" ng-model="phone" maxlength=12 required></input><br>
			<p ng-show="rushForm.phone.$invalid && !rushForm.phone.$pristine" class="help-block">Phone number required</p>
		</div>
		<!-- Email -->
		<div class="form-group">
			<label class="box"for="Email">Email:</label><br>
			<input type="email" id="Email" name="Email" placeholder="email@address.com" ng-model="Email" ng-keyup="checkEmail()" required></input><br>
			<p ng-show="rushForm.Email.$invalid && !rushForm.Email.$pristine" class="help-block">Email must be valid</p>
		</div>

		<button type="reset" class="btn btn-default" ng-click="reset()">Reset</button>
		<button type="button" class="btn btn-primary" ng-model="submitting" ng-disabled="rushForm.$invalid || rushForm.$pristine" ng-click="submit(); success()">Submit</button>
	</div>
</form>
